[package]
name = "sanity"
version = "0.2.0"
edition = "2024"

[features]
default = []
llm-poison = ["dep:lol_html"]

[dependencies]
clap = { version = "4.5.52", features = ["derive"] }
color-eyre = "0.6.5"
grass = "0.13.4"
http-body-util = "0.1.3"
hyper = { version = "1.8.1", features = ["http1", "server"] }
hyper-util = { version = "0.1.17", features = ["full"] }
minijinja = { version = "2.12.0", features = ["loader", "multi_template"] }
notify-debouncer-full = "0.6.0"
notify = "8.2.0"
tokio = { version = "1.48.0", features = ["full"] }
pretty_env_logger = "0.5.0"
log = { version = "0.4.28", features = ["std"] }
mlua = { version = "0.11.4", features = [
    "luajit",
    "serialize",
    "send",
    "error-send",
    "vendored",
] }
serde = { version = "1.0.228", features = ["alloc"] }
serde_json = { version = "1.0.145", features = ["alloc"] }
lol_html = { version = "2.7.0", optional = true }
minify-html-onepass = "0.18.1"
minify-js = "0.6.0"
chrono = "0.4.42"
