{# Here we extend the base template and override some of its defined blocks. #}

{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<h1>Page!</h1>
<p>Go back: <a href="/">link</a>.</p>
{% endblock %}
